nav{
    background-color: #000;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: flex-end; /* aligns links at the bottom */
    border: 5px solid white;
}
nav a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 24px 16px;
    margin : 16px 20px;
    transition: border 0.5s;
}
nav a:hover{
    border: 5px solid white;

}
body{
    background-color: #000;
}
.menu-item{
    position: relative;
    display: flex;

}
.sous_liste{
    display: none;
    position: absolute;
    top: 100%;
    right: 10px;
    background-color: #000;
    border: 5px solid #000;
    list-style: none;
    min-width: 150px;
    z-index: 10;
}
.sous_liste li a{
    display: block;
    padding: 8px 10px;
    color: white;
    text-decoration: none;
}
.menu-item:hover .sous_liste{
    display: block;
}
.sous_liste li a:hover{
    background-color: white;
    color: black;
}