/*body{
    background-color: white;

}
nav{
    height: 50px;
    width: 100%;
    background-color: grey;
}
.dropdown{
    display: inline-block;
    position: relative;
    margin: 8px 10px;
    left: 10px;
    padding: 5px 5px;
}
.dropdown .nav-button, .dropdown-content a{
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 5px;

}
.dropdown-content a {
    display: block;
}

.dropdown-content{
    position: absolute;
    display: none;
    top: 100%;

}
.dropdown:hover .dropdown-content{
    display: block;
    background-color: grey;

}
.dropdown-content a:hover{
    background-color: lightblue;
}

 */
nav{
    background-color: lightblue;
}
.nav-menu, .nav-menu .dropdown-content {
    list-style-type: none;
    font-weight: bold;
    height: 40px;
    padding: 5px 5px;
}
.nav-menu a{
    text-decoration: none;
    font-size: 20px;
    margin: 10px 20px;
    top: 5px;
    color: white;

}
.dropdown {
    display: inline-block;
}
.nav-button {
    position: relative;
}

.dropdown-content  {
    position: absolute;
    display: none;
}
.dropdown-content  {
    background-color: grey;
}
.dropdown:hover .nav-button + .dropdown-content {
    display: block;
}
.dropdown-content li:hover {
    background-color: dimgrey;
    color: lemonchiffon;
}