/*body{
    background-color: white;

}
nav{
    height: 50px;
    width: 100%;
    background-color: grey;
}
.dropdown{
    display: inline-block;
    position: relative;
    margin: 8px 10px;
    left: 10px;
    padding: 5px 5px;
}
.dropdown .nav-button, .dropdown-content a{
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 5px;

}
.dropdown-content a {
    display: block;
}

.dropdown-content{
    position: absolute;
    display: none;
    top: 100%;

}
.dropdown:hover .dropdown-content{
    display: block;
    background-color: grey;

}
.dropdown-content a:hover{
    background-color: lightblue;
}

 */
nav{
    background-color: lightgreen;
    height: 80px;
    width: 100%;
}

.nav-menu a,.nav-menu li{
    color: white;
    text-decoration: none;
    list-style-type: none;
    font-size: 15pt;
    font-weight: bold;
    padding: 5px;
}
.nav-menu {
    position: relative;
    display: inline-block;
    padding: 0;
}
.dropdown-content {
    background-color: lightcoral;
    position: absolute;
    padding: 0;
    top: 100%;
    left: 50%;
    display: none;
}
.dropdown-content li:hover {
    background-color: black;
    border: 3px solid white;
}

.nav-menu:hover .dropdown-content {
    display: block;
}