.table1 {
    width: 100%;
    border-collapse: collapse;
    border: none;
    font-family: sans-serif;
    font-size: 16px;
}

.table1 thead {
    border-bottom: 1px solid #eee;; /* light gray line under headers */
}

.table1 th,.table1 td {
    text-align: left;
    padding: 10px;
}

/* Add subtle horizontal lines between rows */
.table1 tbody tr {
    border-bottom: 1px solid #eee;
}
.table1 thead tr th:last-child ,.table1 tbody tr:first-child td:last-child,.table1 tbody tr:last-child td:last-child{
    border-left: 1px solid #eee;
}
.table1 tr:hover{
    background-color: lightblue;
    color: white;
}

.table2  {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}
.table2 caption{
    font-weight: bold;

}
.table2 thead th{
    background-color: lightgrey;
    color: white;
    font-weight: bold;
    padding: 3px;
    border: 1px solid black;
}
.table2 tbody tr{
    border-bottom: 1px solid black;
}
.table2 th, .table2 td {
    text-align: center;
}
.table2 tbody tr  td {
    border-right: 1px solid black;

}